/* ALL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    text-decoration: none;
    list-style: none;
}

a{color: white; transition: opacity 0.12s;}
a:active{-webkit-tap-highlight-color: transparent; opacity: 0.3;}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* HEADER */
header{
    background: #111111;
    height: 30.26vw;
    max-height: 150px;
    border-bottom: 1px solid white;
}

header> nav{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header> nav> h1{color: white; margin-left: 5%; font-size: clamp(1px, 8vw, 40px)}

header> nav>ul{display: flex; gap: 2vw; margin-right: 5%;}
header> nav>ul>li{ font-size: 1.8rem; }


.b_menu{ background: none; border: none; margin-right: 5%; cursor: pointer; transition: opacity 0.12s;}
.b_close{ background: none; border: none; margin-right: 5%; cursor: pointer; transition: opacity 0.12s;}
.b_menu:active{-webkit-tap-highlight-color: transparent; opacity: 0.3;}
.b_close:active{-webkit-tap-highlight-color: transparent; opacity: 0.3;}
.b_menu > img{width: 50px;}
.b_close > img{width: 50px;}

.menu > nav > div{ width: 100%; display: flex; justify-content: end; border-bottom: 1px solid white; height: 30.26vw;}

/* BODY */
body{
    background: #050505;
}

.menu{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #00000063;
    display: flex;
    transition: opacity 0.5s;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.n_menu{
    background: #020202;
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.6s ease;
    display: flex;
}


.menu.active{ display: flex; opacity: 1; visibility: visible;}
.n_menu.active{ transform: translateX(0%) !important;}

.n_menu>ul>li>a{ color: white; font-size: 2rem;}
.n_menu>ul{display: flex; gap: 13vw; flex-direction: column; margin-top: 15.68vw;}
.n_menu>ul>li{ border-bottom: 1px solid white; width: 46.72vw;  text-align: center;}













@media (min-width: 769px){
    .b_menu{display: none;}
}
@media (max-width: 768px){
    header> nav>ul{display: none !important;}
}